<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="div1">
        <img src="" alt="">
    </div>
    <div class="div2">
        <input id="txtid" type="text" class="entradas" placeholder="id do prduto"><br><br>        
        <button id="create" class="btts"onclick="deletar()">DELETAR</button><br>
        <button class="btts" onclick="location.href='/index'">VOLTAR</button><br>
    </div>
    <script type= "text/javascript" src="/usuario.js"></script>
</body>
</html>